.dialog {
    font-size: 16px;
    text-align: center;
    padding: 20px 0 0 20px;

}
.imgProfile img {
    width: 30%;
    height: 45px;
    border-radius: 50%;
    float: left;
}
.dialog a {
    text-decoration: none;
    color: #13ce66;
    font-family: Arial, Helvetica, sans-serif;
}

a.activeLink {
    color: teal;
}
.dialogsBlocks {
    width: 100%;
    height: 60px;
}
.dialogName {
    padding-top: 10px;
}