.nav {
    grid-area: n;
    background-color: #13ce66;
}

.item {
    color: white;
    text-align: center;
    padding: 20px 0 0 0;
}
.item a {
    color: white;
}
.item a.active {
    color: teal;
}

.nav .active {
    color: #be1522;
}