.dialogs {
display: grid;
grid-template-columns: 2fr 10fr;
padding: 20px;
}
.dialogsItems .dialog {
    font-size: 16px;
    text-align: center;
    padding: 20px 0 0 0;
}
.messages {

}
.messages .message {
    font-size: 16px;
    text-align: center;
    padding: 20px 0 0 0;
}
.dialogsItems {
padding: 10px;
}
.dialogsItems .dialog a{
    text-decoration: none;
    color: #13ce66;
font-family: Arial, Helvetica, sans-serif;
    }

.dialogsItems a.activeLink{
color: teal;
}